<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
</head>
<body>
    <!-- Можно обернуть навигацию в <nav> для лучшей стилизации, но не обязательно -->
    <div style="display: flex; align-items: center; gap: 16px; background: white; border-radius: 20px; padding: 10px 20px; margin-bottom: 20px;">
        <p>{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></p>
        <nav>{% for m in menu %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
            {% endfor %}
        </nav>
    </div>
    {% block content %}{% endblock %}
</body>
</html>